:root{
    --dark: #374151 ;
    --darker : #1F2937 ;
    --darkest : #111827 ;
    --light: #eee ;
    --grey : #687280 ;
    --pink : #ec4899;
    --purple :#8B5cf6;

}

*{
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
    opacity: 70%;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 50px;
    font-weight: 300;
    color: var(--grey);
    margin-bottom:3rem ;
    text-align: center;
}

#new-task-form{
    display: flex;
    margin-left: 100px;
   
}

input , button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;

}

#new-task-input::placeholder {
    color: var(--grey);

}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink) ,var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;

}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 3rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

}

.task-list{
    padding: 1rem;

}

.task-list h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom:1rem ;
    /* margin-left: 280px;
     */
     text-align: center;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    flex: 1 1 0%;
    display: block;
    transition: 0.4s;
    
}

#tasks .task .content .text:not(:read-only){
    color: var(--pink);
}

#tasks .task .actions{
    display: flex;
    margin: 0 --0.5rem;

}

.task .actions button{
    cursor: pointer;
    margin: 0,0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;

}
.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-image: linear-gradient(to right, var(--pink) ,var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete{
    color: crimson;
}

#tasks .task .content{
    flex: 1 1 0%;
}

@media only screen and (max-width:600px){
    *{
        box-sizing: border-box; 
        justify-content: center;   
    }
    header{
        display: block;
        max-width: 600px;
        margin: 0;
    }
    header h1{
        font-size: 30px;
        display: block;
        flex-basis: 100%;
        justify-content: center;
        font-weight: 600;
        margin-bottom: 35px;
    }

    #new-task-form{
        padding: 00px; 
        /* display: block; */
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
        flex-basis: 100%;     

    }
    #new-task-input{
        padding: 10px;
        border-radius: 8px;
        margin: 8px;
        font-size: 20px;
        font-weight: 300;
    }
    #new-task-submit {
        text-align: center;
        font-weight: 200;
    }

    main{
        display: block;
        padding: 15px;
        
    }

    .task-list{
        padding: 0;
    }
    .task-list h2{
        font-size: 25px;
        display: block;
        flex-basis: 100%;
        font-weight: 600;
        margin-bottom: 23px;
    }
    .task .actions button{
        font-size: 15px;
    }   
}



